*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}


*::selection
{
    background-color: rgb(137, 78, 192);
   
}
p, h1, h2
{
    color:rgb(255, 137, 157);
    text-shadow: 0px 0px 10px hotpink;
}
body
{
    background-color: rgb(49, 0, 49);
}
footer
{
    background-color: rgba(0, 0, 0, 80%);
    text-align: center;
    padding:25px;
    

}
.flash
{
   margin-left:20px;
   
}
.letters
{
    display:flex;
    align-items: center;
}


.nav
{
    display:flex;
    background-color:black;
    color:white;
    justify-content: space-between;
   
    padding:20px;
   
}


#logo
{
    transition: 300ms ease-out;
    width:100px;
    height:100px;
}
#logo:hover
{
    transform: scale(1.2);
}
.nav li
{
    list-style-type: none;
   margin:10px;
   transition: 300ms ease-in-out;
   font-size: 30px;


}
.nav li:hover
{
    transform: scale(1.3);
    background-color: rgb(54, 17, 88);
    padding:15px;
    border-radius: 30px;
   
}
.nav ul
{
    display:flex;
    align-items: center;
    justify-content: center;
   
}
.nav a:link
{
    text-decoration: none;
    color:hotpink;
}
.nav a:visited
{
    text-decoration: none;
    color:hotpink;
}
.hero
{
    display:flex;
    flex-direction: column;
    color:rgb(255, 137, 157);
    background-image: url("images/neon.png");
    background-repeat: no-repeat;
    background-size:100vw;
    text-shadow: 0px 0px 10px hotpink;
    height:70vh;
    
    max-height:1000px;
    text-align: center;
    font-size: 200%;
    justify-content: center;
   margin-bottom:10%;
   
 
}
.words
{
  display: flex;  
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
 
}
#bigger
{
   
    animation-name: big;
    animation-duration: 2s;
    background-color: rgb(49, 0, 49, 70%);
    width:fit-content;
    padding:15px;
    border-radius: 50px;
    margin-bottom: 5%;
    border: 3px solid black;
    transition: 500ms ease;
}
#bigger:hover
{
    transform: scale(1.3);
}
#smaller
{
   
    animation-name:small;
    animation-duration: 3s;
    background-color: rgb(49, 0, 49, 70%);
    width:fit-content;
    padding:15px;
    border-radius: 50px;
    border: 3px solid black;
    transition: 500ms ease;
}
#smaller:hover
{
    transform: scale(1.2);
}
#img1
{
    animation-name:im1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transform: rotate(-30deg);
}
#img2
{
    animation-name:im2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transform: rotate(35deg);
   
   
}
#img3
{
    animation-name:im3;
    animation-duration: 8s;
    animation-iteration-count: infinite;
   
}
#img4
{
    animation-name:im4;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transform: rotate(30deg);
}
#img5
{
    animation-name:im5;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transform: rotate(-45deg);
}
/*Animations*/


@keyframes big
{
    from
    {
       transform: translateY(-20vh);
       opacity: 0%;
       background-color: white;
       color:white;
    }
    to
    {
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes small
{
    0%
    {
        opacity: 0%;
       
    }
    50%
    {
        transform: translateY(5vh);
        opacity: 0%;
        background-color: white;
       color:white;
    }
    100%
    {
        opacity: 100%;
        transform: translateY(0);
    }


 
}
@keyframes im1
{
   
    0%
    {
        opacity:100%;
    }
    12.4%
    {
        opacity:100%;
    }
    12.5%
    {
        opacity:0%;
    }
   
    /*Double flash portion*/


    62.5%
    {
     opacity:0%
    }
    62.6%
    {
        opacity:100%;
    }
    74.9%
    {
        opacity:100%;
    }
    75%
    {
        opacity:0%;
    }
    87.4%
    {
        opacity:0%;
    }
    87.5%
    {
        opacity:100%;
    }
    100%
    {
        opacity:100%;
    }


   
}
@keyframes im2
{
   
    0%
    {
        opacity:0%;
    }
    12.4%
    {
        opacity:0%;
    }
    12.5%
    {
        opacity:100%;
    }
    24.9%
    {
        opacity:100%;
    }
    25%
    {
        opacity:0%;
    }
   
    /*Double flash portion*/
    62.5%
    {
     opacity:0%
    }
    62.6%
    {
        opacity:100%;
    }
    74.9%
    {
        opacity:100%;
    }
    75%
    {
        opacity:0%;
    }
    87.4%
    {
        opacity:0%;
    }
    87.5%
    {
        opacity:100%;
    }
    100%
    {
        opacity:100%;
    }


}
@keyframes im3
{
   
    0%
    {
        opacity:0%;
    }
    24.9%
    {
        opacity:0%;
    }
    25%
    {
        opacity:100%;
    }
    37.4%
    {
        opacity:100%;
    }
    37.5%
    {
        opacity:0%;
    }
   
    /*Double flash portion*/
    62.5%
    {
     opacity:0%
    }
    62.6%
    {
        opacity:100%;
    }
    74.9%
    {
        opacity:100%;
    }
    75%
    {
        opacity:0%;
    }
    87.4%
    {
        opacity:0%;
    }
    87.5%
    {
        opacity:100%;
    }
    100%
    {
        opacity:100%;
    }
}
@keyframes im4
{
   
    0%
    {
        opacity:0%;
    }
    37.4%
    {
        opacity:0%;
    }
    37.5%
    {
        opacity:100%;
    }
    49.9%
    {
        opacity:100%
    }
    50%
    {
        opacity:0%;
    }
   
    /*Double flash portion*/
    62.5%
    {
     opacity:0%
    }
    62.6%
    {
        opacity:100%;
    }
    74.9%
    {
        opacity:100%;
    }
    75%
    {
        opacity:0%;
    }
    87.4%
    {
        opacity:0%;
    }
    87.5%
    {
        opacity:100%;
    }
    100%
    {
        opacity:100%;
    }
}
@keyframes im5
{
   
     
    0%
    {
        opacity:0%;
    }
    49.9%
    {
        opacity:0%
    }
    50%
    {
        opacity:100%;
    }
    62.4%
    {
        opacity:100%;
    }
    62.5%
    {
        opacity:0%;
    }
   
    /*Double flash portion*/
    62.5%
    {
     opacity:0%
    }
    62.6%
    {
        opacity:100%;
    }
    74.9%
    {
        opacity:100%;
    }
    75%
    {
        opacity:0%;
    }
    87.4%
    {
        opacity:0%;
    }
    87.5%
    {
        opacity:100%;
    }
    100%
    {
        opacity:100%;
    }
}




/*Media Queries*/


@media only screen and (max-width: 1200px)
{
  .flash
  {
    width:50px;
    height:50px;
  }  
  .hero
 {
    background-size: cover;
 }
}
@media only screen and (max-width: 910px)
{
  .letters
  {
    display:none;
  }
 
}